version: 2.1
jobs:
  build:
    docker:
      - image: fpco/stack-build:lts-18.27
        auth:
          username: mydockerhub-user
          password: $DOCKERHUB_PASSWORD 
                                                          
    steps:
      - run: apt-get update && apt-get install -y git ssh unzip

      - run: 
          name: Install z3 
          command: |
            wget https://github.com/Z3Prover/z3/releases/download/z3-4.8.17/z3-4.8.17-x64-glibc-2.31.zip
            unzip z3-4.8.17-x64-glibc-2.31.zip
            rm -f z3-4.8.17-x64-glibc-2.31.zip
            cp z3-4.8.17-x64-glibc-2.31/bin/libz3.a /usr/local/lib
            cp z3-4.8.17-x64-glibc-2.31/bin/z3 /usr/local/bin
            cp z3-4.8.17-x64-glibc-2.31/include/* /usr/local/include
            rm -rf z3-4.8.17-x64-glibc-2.31
            z3 --version
      - checkout
      - add_ssh_keys

      - run:
          name: Test Examples 
          command: cd icfp22-submission; stack setup && stack build
